:root{
    --primary-color:#01628F;
    --font:"Bai Jamjuree", sans-serif;
    --body-font:"Sarabun", sans-serif;
    --silver:#BAC4C9
}
.error-message {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
    margin-bottom: 1.5rem;
    font-family: var(--body-font);
}

.success-message {
    color: green;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
    text-align: center;
    font-family: var(--body-font);
}

#messageContainer {
    margin-top: 15px;
}
.nav-item-list{
    font-family: var(--font) !important;
}
.nav-item-list:hover{
    color: var(--primary-color) !important;
}
.contact-us-nav{
    color: white !important;
    margin-top: 2rem !important;
    margin-bottom: 4rem !important;
        background-color: var(--primary-color) !important;
        font-size: 16px !important;
        letter-spacing: 2px !important;
        padding: 18px 28px !important;
        border: none !important;
        cursor: pointer !important;
        text-transform: uppercase !important;
        transition: transform 0.3s ease !important;     
}
.contact-us-nav:hover{
    transform: scale(0.95) !important;
}
.wrapper-faq{
    padding: 0px 1rem;
}

.btn-href{
   text-decoration: none; 
   color: white;
}

.hero-section-btn{
    color: white;
    background-color: var(--primary-color);
    font-size: 14px;
    letter-spacing: 2px;
    padding: 18px 28px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform 0.3s ease; 
    width: 10rem;

}
.hero-section-btn:hover{
    transform: scale(0.95);
}
.microfiber-button {
    position: absolute;
    
    
    padding: .5rem;
    
    display: grid;
    place-items: center;
    top: 50%;
    left: var(--position);
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 999;
    box-shadow: 1px 1px 1px hsl(0, 50%, 2%, .5);




    background-color: #a8d5e2; /* Light blue to resemble microfiber cloth */
    color: #fff;
    font-size: 1.2em;
    padding: 15px 30px;
    border: none;
    border-radius: 20px; /* Rounded corners to make it look soft */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-image: radial-gradient(circle, #c4e8f3, #a8d5e2);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  /* Adding a fabric-like texture */
  .microfiber-button::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background-image: linear-gradient(45deg, rgba(255,255,255,0.2) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, transparent 75%, transparent);
    background-size: 20px 20px;
    z-index: 1;
    border-radius: 20px;
    pointer-events: none;
  }
  
  .microfiber-button:hover {
    background-color: #9bc4cf; /* Darker shade on hover */
    transform: translateY(-3px);
  }
  
  .microfiber-button:active {
    background-color: #88b0ba; /* Even darker on click */
    transform: translateY(2px);
  }
  




.section-why-carmaa{
    background-color: #F0F3FF;
    display: flex;
    justify-content: center;
    padding: 6rem 0rem;
    overflow-x: hidden;
    
}
.why-carmaa-container{
    width: 70%;
    margin: 0px auto;
    
}
.why-carmaa-container h2{
    color: var(--primary-color);
    font-family: var(--font);
    font-size: 16px;
    font-weight:600 ;
    text-transform:uppercase ;
    text-decoration:none ;
    line-height:1.2em ;
    letter-spacing: 1px;
    margin-bottom: 0.7rem;

}
.why-carmaa-container h1{
    width: 65%;
    color:#0E111B;
    font-family: var(--font);
    font-size: 48px;
    font-weight:700 ;
    text-transform:none ;
    text-decoration:none ;
    line-height:1.2em ;
}
.why-carmaa-container p{
   
    width: 50%;
    color: #424649;
    font-size: 18px;
}
.why-carmaa-container .header-description{
    margin-top:1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.why-carmaa-container .header-description button{
    color: white;
    background-color: var(--primary-color);
    font-size: 14px;
    letter-spacing: 2px;
    padding: 18px 28px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform 0.3s ease; 
}
.why-carmaa-container .header-description button:hover{
    transform: scale(0.95);
}
.why-carmaa-card-container{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}
.why-carmaa-card{
    width: 31%;
    padding: 4rem 1rem 1rem 1rem;
    background-color: white;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}
.why-carmaa-card .card-icon-container{
    position: absolute;
    top: -35px;
    left: 25px;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    display: flex;
    align-items:center ;
    justify-content: center;

    
}
.why-carmaa-card  .color-black{
    background-color: black;
}
.why-carmaa-card  .color-blue{
    background-color: var(--primary-color);
}
.why-carmaa-card .card-icon-container img{
    width: 3rem;
    height: 3rem;
}
.why-carmaa-card img{
    width: 100%;
}
.why-carmaa-card h4{
    font-size: 25px;
    padding-left: 0.3rem;
    font-family: var(--font);
    color: #0E111B;
    font-weight: 600;
    line-height: 1.2em;
    width: 100%;
}
.why-carmaa-card p{
    color: #424649;
    padding-left: 0.3rem;
    padding-right: 0.6rem;
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6em;
   

}


.counter-section{
    padding: 4.5rem ;
    background-color: #0E111B;
    display: flex;
   
    justify-content: center;
    

}
.counter-section-element{
 
    display: flex;
    width: 20%;
    align-items: center;
    gap: 15px;
}
.counter-section-element h4{
    justify-self: center;
    color: #ffffff;
    font-size: 3.5rem;
    font-family: var(--font);

}
.counter-section-element p{
    color: #BAC4C9;
    width: 35%;
    font-size: 1.3rem;
    font-family: var(--font);

}







.parallex-cta{
    background-image: url('../images/home-page/cta/cta-bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 8rem 0px;
    background-position: center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}
.parallex-cta::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; 
}

.parallex-cta-inner{
    width: 40%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.parallex-cta-inner h4{
    text-align: center;
    font-size: 3.75rem;
    color: white;
    font-family: var(--font);
    
}
.parallex-cta-inner p{
color: #BAC4C9;
font-size: 1.2rem;
text-align: center;
margin-top: 2rem;
margin-bottom: 2rem;
font-family: var(--body-font);
}
.parallex-cta-inner button{
    margin: 0px auto;
    text-align: center;
    color: white;
    background-color: var(--primary-color);
    font-size: 14px;
    letter-spacing: 2px;
    padding: 18px 28px;
    border: none;
    cursor: pointer;
    font-family: var(--font);
    text-transform: uppercase;
    transition: transform 0.3s ease; 
    }




.testimonial-section{
    background-color:#012231;
    padding: 3rem 0rem;
    margin-top: 3rem;
    
    }
    
.testimonial-sub-heading{
    color: var(--primary-color) !important;
    text-align: center;
}
.testimonial-heading{
    color: #ffffff !important;
    text-align: center;
    width: 100% !important;
    font-family: var(--font) !important;
}







.testimonial-slider {
 
    margin: 4rem auto;
    width: 60%;
    max-width: 2000px;
    overflow: hidden;
    position: relative;
}

.testimonial-track {
    display: flex;
    transition: transform 0.5s ease;
}

.testimonial-card {
    min-width: 35%; 
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    margin: 10px;
}

.testimonial-text {
    height:7rem;
    font-size: 1rem;
    color:#424649;
    font-family:var(--body-font);
    margin-bottom: 10px;
    text-align: justify;
}

.testimonial-author {
    font-size: 1em;
    color: #555;
}

.dots {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #333;
}
.stars {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.stars i {
    color: #ffc402; 
    font-size: 1rem; 
    margin-right: 3px; 
}
.testimonial-img{
    width: 4rem;
    height: 4rem;
    border-radius:100% ;
}
.author-section{
    display: flex;
    align-items: center;
    gap: 20px;
}
.author-name{
    color: #0E111B;
    font-family: var(--font);
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
}
.author-designation{
    color: #424649;
    font-family: var(--body-font);
}
.author-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quote{
    font-size: 2rem;
    color: var(--silver)
}






.faq-heading{
    color: #0E111B !important;
    text-align: center;
    width: 100% !important;
    font-family: var(--font) !important;
}
.accordion-title, .accordion-content p{
    font-family: var(--body-font) !important;
}
#parent-div,#parent-div2{
    display: none;
}
.modal-container{
    position:fixed;
    top: 0px;
    bottom: 0px;
    left:0px;
    right:0px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}
@keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
.modal-wrapper{
    border-radius: 6px;
    position:fixed;
    width: 70rem;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slideIn 0.5s forwards ease-out;
    z-index: 200;
    display: flex;
    gap:6rem;
    overflow: hidden;
    padding-right: 4rem;
    position: relative;
}
.modal-wrapper2{
    border-radius: 6px;
    position:fixed;
    width: 40rem;
    height: 20rem;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(-50px);
    animation: slideIn 0.5s forwards ease-out;
    z-index: 200;
    display: flex;
    overflow: hidden;
    position: relative;
}
 #close-btn2{
    position: absolute;
    width: 2rem;
    height:2rem;
    right: 10px;
    cursor: pointer;
    top:85px
}
.modal-wrapper2 iframe{
    width: 100%;
    height: 100%;
}
.modal-wrapper .image-section{
    width: 50%;
    height:35rem;
    background-image: url('../images/home-page/modal/bg-img.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover ;
    position: relative;
}
.modal-wrapper .image-section:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1; 
}
.modal-left{
    position: relative;
    z-index: 10000;
    padding: 4rem 4rem;
}
.modal-left h2{
    color: #ffffff;
    font-family: var(--font);
    font-size: 1rem;
    font-weight:600 ;
    text-transform:uppercase ;
    text-decoration:none ;
    line-height:1.2em ;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    

}
.modal-left h1{
   
    color:#ffffff;
    font-family: var(--font);
    font-size: 2.3rem;
    font-weight:700 ;
    text-transform:none ;
    text-decoration:none ;
    line-height:1.2em ;
}
.modal-left .description{
   
    color:var(--silver);
    font-family: var(--body-font);
    font-size: 1.2rem;
    margin-top: 1rem;
    text-transform:none ;
    text-decoration:none ;
  
}
.modal-left .contact{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 10px;
}
.modal-left .contact .details h1{

    font-size: 1.1rem;
    font-family: var(--font);
    color: var(--silver);
}
.modal-left .contact .details p{
  
    font-size: 1.2rem;
    margin-top: 0.3rem;
    font-weight: 600;
    font-family: var(--font);
    color: #ffffff
}
.modal-left .img-wrapper{
    background-color: var(--primary-color);
    padding: 0.8rem;
 
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-left .img-wrapper2{
    background-color: #ffffff;
    padding: 0.8rem;
  
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-left img{
    width: 2rem;
    height: 2rem; 

}
.modal-form{
    width: 40%;
    
    padding: 4rem 0rem;
   
}
.modal-form-label{
    font-size: 1.2rem;
    color:#0E111B;
    font-family: var(--font);
    font-weight: 600;
}
.modal-input{
    width: 100%;
    padding: 0.5rem 1rem;
    margin-top: 0.6rem;
   
}
.modal-form img{
    position: absolute;
    top: 10px;
    right: 20px;
    width: 2rem;
    height: 2rem;
    cursor: pointer;

}
.modal-form button{
    margin-top: 1.5rem;
    width: 100%;
    color: white;
    background-color: var(--primary-color);
    font-size: 14px;
    letter-spacing: 2px;
    padding: 18px 28px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform 0.3s ease; 
}
.modal-form button:hover{
    transform: scale(0.95);
}









.benefits-section{
    overflow-x:hidden ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:60px;
    padding: 4rem 4rem;
    width: 80%;
    margin: 0px auto;

}
.benefit-left{
    width: 40%;
}
.benefit-left h2{
    color: var(--primary-color);
    font-family: var(--font);
    font-size: 16px;
    font-weight:600 ;
    text-transform:uppercase ;
    text-decoration:none ;
    line-height:1.2em ;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;

}
.benefit-left h1{
   
    color:#0E111B;
    font-family: var(--font);
    font-size: 48px;
    font-weight:700 ;
    text-transform:none ;
    text-decoration:none ;
    line-height:1.2em ;
}
.benefit-left .benefit-head-desc{
    color: #424649;
    font-size: 1.1rem;
    font-family: var(--body-font);
    margin-top: 1rem;
}
.benefit-element{
    margin-top: 2rem;
    display: flex;
    gap: 20px;
    align-items:start;
}
.benefit-element-img-wrapper{
    width: 4.5rem;
    height:4.5rem;  
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 100%;

}
.benefit-element-img-wrapper2{
    width: 4.5rem;
    height:4.5rem;  
    background-color: #0E111B;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 100%;

}
.benefit-element-img-wrapper img{
  width: 2.5rem;
  height:2.5rem;  
}
.benefit-element-img-wrapper2 img{
    width: 2.5rem;
    height:2.5rem;  
  }
.benefit-element h3{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2em;
    font-family: var(--font);
}
.benefit-element-desc p{
    color: #424649;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6em;
    margin-top: 0.2rem;
    font-family: var(--body-font);
  
}
.benefit-right{
    position: relative;
    width: 43%;
    height: 700px;
    background-image: url('../images/home-page/benefits/car-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.benefit-right .description{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    right: 10px;
    top: 10px;
    padding: 1.5rem 1.5rem;
    background-color: white;
}
.benefit-right img{
    width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
}
.benefit-right .description p{
    
    font-size: 1.2rem;
    font-weight: 700;
    font-family: var(--font);

}
.video-description{
    position: absolute;
    left: -15px;
    bottom: -15px; 
    width: 270px;
    height: 270px;
    padding-top:1rem;
    padding-right: 1rem;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
}
.video-description-img{
    width: 260px;
    height: 260px; 
    position: relative;
}
.video-description-img .car-img{
    width: 100%;
    height: 100%; 
    position: relative;
}
.video-description .play-button{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}
.video-description .play-button img{
   width: 5rem;
   height: 5rem;
   cursor: pointer;
}

.video-description .play-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5rem;
    height: 5rem;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.4), transparent);
    border-radius: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.video-description .play-button::before {
    animation: pulse-light 1.5s infinite;
    opacity: 1;
}

@keyframes pulse-light {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.5;
    }
    70% {
        transform: translate(-50%, -50%) scale(2.5);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(2.5);
        opacity: 0;
    }
}
.before-after-sub-heading{
    margin-top: 4rem;
    color: var(--primary-color) !important;
    text-align: center;
}
.before-after-heading{
    color: #0E111B !important;
    text-align: center;
    width: 100% !important;
    font-family: var(--font) !important;
}
.cta-btn{  
    color: white;
    margin-top: 2rem;
    margin-bottom: 4rem;
        background-color: var(--primary-color);
        font-size: 16px;
        letter-spacing: 2px;
        padding: 18px 28px;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        transition: transform 0.3s ease; 
    
}
.cta-btn:hover{
    transform: scale(0.95);
}
.benefit-left-points{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    margin-top: 1.5rem;

}

.benefit-left-points img{
    width: 1.5rem;
    height:1.5rem;
}
.benefit-left-points .benefit-left-points-wrapper{
    width:45%;
    font-size: 1rem;
    font-family: var(--body-font);
    display: flex;
    align-items: center;
    gap:10px;
    font-weight: 400;
}
.benefits-cta-section{
    border-top: #BAC4C9;
    border-top-width: 2px;
    border-top-style: solid;
    width: 100%;
    padding: 2rem 0rem;
    margin-top: 2rem;
    display: flex;
    align-items:center;
    gap:1rem
}
.benefits-cta-section button{
    color: white;
    background-color: var(--primary-color);
    font-size: 14px;
    letter-spacing: 2px;
    padding: 18px 28px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform 0.3s ease; 
}
.benefits-cta-section button:hover{
    transform: scale(0.95);
}
.benefits-cta-section .call-icon{
    display: flex;
    justify-content: center;
    align-items: center;
background-color: black;
color: white;
width: 3.5rem;
height: 3.5rem;
border-radius: 100%;
}
.benefits-cta-section .benefits-mobile-number{
font-size: 1rem;
margin-top: 0.5rem;
}

.quality-ser{
    width: 40%;
    position: absolute !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    left: 10px !important;
    top: 10px !important;
    padding: 1.5rem 1.5rem !important;
    background-color: white !important;
}
.second-img{
    background-image: url('../images/home-page/benefits/car-bg02.jpg');
   
}
.video-description2{
    position: absolute;
    right: -15px ;
    bottom: 25px; 
    width: 200px;
    height: 200px;
    padding-top:1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
}
.video-description2 .video-description-img{
    width: 160px;
    height: 170px; 
    position: relative;
}
.video-description2 .video-description-img .car-img{
    width: 100%;
    height: 100%; 
    position: relative;
}
@media screen and (min-width:300px) {
    .modal-wrapper{
        border-radius: 6px;
        max-width: 700px;
        position:fixed;
        width: 95%;
        background-color: white;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: slideIn 0.5s forwards ease-out;
        z-index: 200;
        display: flex;
        gap:0rem;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        padding-right: 0rem;
    }
    .modal-wrapper .image-section{
        width: 100%;
        height:23rem;
        background-image: url('../images/home-page/modal/bg-img.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size:cover ;
        position: relative;
    }
    .modal-container{
        position:fixed;
        top: 0px;
        bottom: 0px;
        left:0px;
        right:0px;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        animation: fadeIn 0.5s forwards;
    }
    @keyframes fadeIn {
        to {
          opacity: 1;
        }
      }
    .modal-wrapper .image-section:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
     
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1; 
    }
    .modal-left{
        position: relative;
        z-index: 10000;
        padding: 4rem 4rem;
    }
    .modal-left h2{
        color: #ffffff;
        font-family: var(--font);
        font-size: 1rem;
        font-weight:600 ;
        text-transform:uppercase ;
        text-decoration:none ;
        line-height:1.2em ;
        letter-spacing: 1px;
        margin-bottom: 1rem;
        
    
    }
    .modal-left h1{
       
        color:#ffffff;
        font-family: var(--font);
        font-size: 1.5rem;
        font-weight:700 ;
        text-transform:none ;
        text-decoration:none ;
        line-height:1.2em ;
    }
    .modal-left .description{
       
        color:var(--silver);
        font-family: var(--body-font);
        font-size: 1rem;
        margin-top: 1rem;
        text-transform:none ;
        text-decoration:none ;
      
    }
    .modal-left .contact{
        margin-top: 2rem;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .modal-left .contact .details h1{
    
        font-size: 1.1rem;
        font-family: var(--font);
        color: var(--silver);
    }
    .modal-left .contact .details p{
      
        font-size: 1.2rem;
        margin-top: 0.3rem;
        font-weight: 600;
        font-family: var(--font);
        color: #ffffff
    }
    .modal-left .img-wrapper{
        background-color: var(--primary-color);
        padding: 0.8rem;
     
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .modal-left .img-wrapper2{
        background-color: #ffffff;
        padding: 0.8rem;
      
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .modal-left img{
        width: 2rem;
        height: 2rem; 
    
    }
    .modal-form{
        width: 95%;
        padding: 1.5rem;
       
    }
    .modal-form-label{
        font-size: 1.2rem;
        color:#0E111B;
        font-family: var(--font);
        font-weight: 600;
    }
    .modal-input{
        width: 100%;
        padding: 0.5rem 1rem;
        margin-top: 0.4rem;
       
    }
    .modal-form img{
        
        position: absolute;
        top: 10px;
        right: 20px;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
    
    }
    .modal-form button{
        margin-top: 1.5rem;
        width: 100%;
        color: white;
        background-color: var(--primary-color);
        font-size: 14px;
        letter-spacing: 2px;
        padding: 18px 28px;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        transition: transform 0.3s ease; 
    }
    .modal-form button:hover{
        transform: scale(0.95);
    }
    
    .benefits-section{
        overflow-x:hidden ;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:60px;
        padding: 1rem 1rem;
        width: 100%;
        margin: 0px auto;
    
    }
    .benefit-right{
        position: relative;
        width: 100%;
        height: 500px;
       
    }
    .quality-ser{
        width: 90%;
        position: absolute !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        left: 15px !important;
        top: 10px !important;
        padding: 1.5rem 1.5rem !important;
        background-color: white !important;
    }
    .benefit-left{
        width: 100%;
    }
    .benefit-left h1{
   
        color:#0E111B;
        font-family: var(--font);
        font-size: 30px;
        font-weight:700 ;
        text-transform:none ;
        text-decoration:none ;
        line-height:1.2em ;
    }
    

    .benefit-left .benefit-head-desc{
        text-align: justify;
    }
    .benefits-cta-section{
        border-top: #BAC4C9;
        border-top-width: 2px;
        border-top-style: solid;
        width: 100%;
        padding: 2rem 0rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items:center;
        gap:1rem
    }
    .call-icon-wrapper{
        display: flex;
        align-items:center;
        gap:10px

    }
    .benefit-element-desc{
        text-align: justify;
    }
    .video-description{
        position: absolute;
        left: -5px;
        bottom: 0px; 
        width: 150px;
        height: 150px;
      
    }
    .video-description-img{
        width: 140px;
        height: 140px; 
        position: relative;
    }
    
   
    .video-description .play-button img{
       width: 4rem;
       height: 4rem;
       cursor: pointer;
    }
    .counter-section{
        padding: 2rem ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        
    }
    .counter-section-element{
 
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .counter-section-element h4{
        justify-self: center;
        color: #ffffff;
        font-size: 2.5rem;
        font-family: var(--font);
    
    }
    .counter-section-element p{
        color: #BAC4C9;
        width: 36%;
        font-size: 1rem;
        font-family: var(--font);
    
    }
    
    
    

    .parallex-cta{
      
        padding: 2rem 0px;
      
    }

.parallex-cta-inner{
    width: 100%;
    padding: 1rem;
   
}
.parallex-cta-inner h4{
    text-align: center;
    font-size: 2.5rem;
    color: white;
    font-family: var(--font);
    
}

.why-carmaa-container{
    padding-left:  1rem;
    padding-right: 1rem;
    width: 100%;
    margin: 0px auto;
    
}
.before-after-heading, .testimonial-heading{
 font-size: 2rem !important;
}

.why-carmaa-container h1{
    width: 100%;
    font-size: 25px;
    
}
.testimonial-section{
   margin-bottom: 2rem;
}
.accordian-item{
    padding-left:  1rem !important;
    padding-right: 1rem !important;
}
.why-carmaa-container .header-description p{
    width: 100%;
    text-align: justify;
}
.why-carmaa-card-container{
    display: flex;
   flex-direction: column;
    margin-top: 5rem;
    gap:5rem;
}
.why-carmaa-card{
    width: 100%;
    padding: 4rem 1rem 1rem 1rem;
    background-color: white;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

}
@media screen and (min-width:550px) {
    .benefits-cta-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .quality-ser{
        width: 45%;
        max-width: 250px;
        position: absolute !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        left: 10px !important;
        top: 10px !important;
        padding: 1.5rem 1.5rem !important;
        background-color: white !important;
    }
}
@media screen and (min-width:750px) {
    
    .why-carmaa-card-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3rem;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
    }
    .why-carmaa-card{
        width: 47%;
        padding: 4rem 1rem 1rem 1rem;
        background-color: white;
        position: relative;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
    }
    .counter-section{
        padding: 4.5rem 0rem ;
        background-color: #0E111B;
        display: flex;
        flex-direction: row;
       flex-wrap: wrap;
        justify-content: center;
        
    
    }
    .counter-section-element{
        display: flex;
        width: 45%;
        align-items: center;
        gap: 15px;
    }
    .counter-section-element h4{
        justify-self: center;
        color: #ffffff;
        font-size: 3.5rem;
        font-family: var(--font);
    
    }
    .counter-section-element p{
        color: #BAC4C9;
        width: 35%;
        font-size: 1.3rem;
        font-family: var(--font);
    
    }
}
@media screen and (min-width:1300px){
  
    .hero-section-btn{
        color: white;
        margin-top: 1rem;
        background-color: var(--primary-color);
        font-size: 14px;
        letter-spacing: 2px;
        padding: 18px 28px;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        transition: transform 0.3s ease; 
        width: 10rem;
    }
    .hero-section-btn:hover{
        transform: scale(0.95);
    }




.section-why-carmaa{
    background-color: #F0F3FF;
    display: flex;
    justify-content: center;
    padding: 6rem 0rem;
    overflow-x: hidden;
    
}
.why-carmaa-container{
    width: 70%;
    margin: 0px auto;
    
}
.why-carmaa-container h2{
    color: var(--primary-color);
    font-family: var(--font);
    font-size: 16px;
    font-weight:600 ;
    text-transform:uppercase ;
    text-decoration:none ;
    line-height:1.2em ;
    letter-spacing: 1px;
    margin-bottom: 0.7rem;

}
.why-carmaa-container h1{
    width: 65%;
    color:#0E111B;
    font-family: var(--font);
    font-size: 48px;
    font-weight:700 ;
    text-transform:none ;
    text-decoration:none ;
    line-height:1.2em ;
}
.why-carmaa-container p{
   
    width: 50%;
    color: #424649;
    font-size: 18px;
}
.why-carmaa-container .header-description{
    margin-top:1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.why-carmaa-container .header-description button{
    color: white;
    background-color: var(--primary-color);
    font-size: 14px;
    letter-spacing: 2px;
    padding: 18px 28px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform 0.3s ease; 
}
.why-carmaa-container .header-description button:hover{
    transform: scale(0.95);
}
.why-carmaa-card-container{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}
.why-carmaa-card{
    width: 31%;
    padding: 4rem 1rem 1rem 1rem;
    background-color: white;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}
.why-carmaa-card .card-icon-container{
    position: absolute;
    top: -35px;
    left: 25px;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    display: flex;
    align-items:center ;
    justify-content: center;

    
}
.why-carmaa-card  .color-black{
    background-color: black;
}
.why-carmaa-card  .color-blue{
    background-color: var(--primary-color);
}
.why-carmaa-card .card-icon-container img{
    width: 3rem;
    height: 3rem;
}
.why-carmaa-card img{
    width: 100%;
}
.why-carmaa-card h4{
    font-size: 25px;
    padding-left: 0.3rem;
    font-family: var(--font);
    color: #0E111B;
    font-weight: 600;
    line-height: 1.2em;
    width: 100%;
}
.why-carmaa-card p{
    color: #424649;
    padding-left: 0.3rem;
    padding-right: 0.6rem;
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6em;
   

}


.counter-section{
    padding: 4.5rem ;
    background-color: #0E111B;
    display: flex;
   
    justify-content: center;
    

}
.counter-section-element{
 
    display: flex;
    width: 20%;
    align-items: center;
    gap: 15px;
}
.counter-section-element h4{
    justify-self: center;
    color: #ffffff;
    font-size: 3.5rem;
    font-family: var(--font);

}
.counter-section-element p{
    color: #BAC4C9;
    width: 35%;
    font-size: 1.3rem;
    font-family: var(--font);

}







.parallex-cta{
    background-image: url('../images/home-page/cta/cta-bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 8rem 0px;
    background-position: center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}
.parallex-cta::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; 
}

.parallex-cta-inner{
    width: 70%;
    max-width: 1200px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.parallex-cta-inner h4{
    text-align: center;
    font-size: 3.75rem;
    color: white;
    font-family: var(--font);
    
}
.parallex-cta-inner p{
color: #BAC4C9;
font-size: 1.2rem;
text-align: center;
margin-top: 2rem;
margin-bottom: 2rem;
font-family: var(--body-font);
}
.parallex-cta-inner button{
    margin: 0px auto;
    text-align: center;
    color: white;
    background-color: var(--primary-color);
    font-size: 14px;
    letter-spacing: 2px;
    padding: 18px 28px;
    border: none;
    cursor: pointer;
    font-family: var(--font);
    text-transform: uppercase;
    transition: transform 0.3s ease; 
    }




.testimonial-section{
    background-color:#012231;
    padding: 3rem 0rem;
    margin-top: 3rem;
    
    }
    
.testimonial-sub-heading{
    color: var(--primary-color) !important;
    text-align: center;
}
.testimonial-heading{
    color: #ffffff !important;
    text-align: center;
    width: 100% !important;
    font-family: var(--font) !important;
}







.testimonial-slider {
 
    margin: 4rem auto;
    width: 60%;
    max-width: 2000px;
    overflow: hidden;
    position: relative;
}

.testimonial-track {
    display: flex;
    transition: transform 0.5s ease;
}

.testimonial-card {
    min-width: 35%; 
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    margin: 10px;
}

.testimonial-text {
    height:7rem;
    font-size: 1rem;
    color:#424649;
    font-family:var(--body-font);
    margin-bottom: 10px;
    text-align: justify;
}

.testimonial-author {
    font-size: 1em;
    color: #555;
}

.dots {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #333;
}
.stars {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.stars i {
    color: #ffc402; 
    font-size: 1rem; 
    margin-right: 3px; 
}
.testimonial-img{
    width: 4rem;
    height: 4rem;
    border-radius:100% ;
}
.author-section{
    display: flex;
    align-items: center;
    gap: 20px;
}
.author-name{
    color: #0E111B;
    font-family: var(--font);
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
}
.author-designation{
    color: #424649;
    font-family: var(--body-font);
}
.author-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quote{
    font-size: 2rem;
    color: var(--silver)
}






.faq-heading{
    color: #0E111B !important;
    text-align: center;
    width: 100% !important;
    font-family: var(--font) !important;
}
.accordion-title, .accordion-content p{
    font-family: var(--body-font) !important;
}
#parent-div,#parent-div2{
    display: none;
}
.modal-container{
    position:fixed;
    top: 0px;
    bottom: 0px;
    left:0px;
    right:0px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}
@keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
.modal-wrapper{
    border-radius: 6px;
    position:fixed;
    max-width: 3000px;
    width: 70rem;
    flex-direction: row;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slideIn 0.5s forwards ease-out;
    z-index: 200;
    display: flex;
    gap:6rem;
    overflow: hidden;
    padding-right: 4rem;
    position: relative;
}
.modal-wrapper .image-section{
    width: 50%;
    height:35rem;
    background-image: url('../images/home-page/modal/bg-img.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover ;
    position: relative;
}
.modal-wrapper .image-section:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1; 
}
.modal-left{
    position: relative;
    z-index: 10000;
    padding: 4rem 4rem;
}
.modal-left h2{
    color: #ffffff;
    font-family: var(--font);
    font-size: 1rem;
    font-weight:600 ;
    text-transform:uppercase ;
    text-decoration:none ;
    line-height:1.2em ;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    

}
.modal-left h1{
   
    color:#ffffff;
    font-family: var(--font);
    font-size: 2.3rem;
    font-weight:700 ;
    text-transform:none ;
    text-decoration:none ;
    line-height:1.2em ;
}
.modal-left .description{
   
    color:var(--silver);
    font-family: var(--body-font);
    font-size: 1.2rem;
    margin-top: 1rem;
    text-transform:none ;
    text-decoration:none ;
  
}
.modal-left .contact{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 10px;
}
.modal-left .contact .details h1{

    font-size: 1.1rem;
    font-family: var(--font);
    color: var(--silver);
}
.modal-left .contact .details p{
  
    font-size: 1.2rem;
    margin-top: 0.3rem;
    font-weight: 600;
    font-family: var(--font);
    color: #ffffff
}
.modal-left .img-wrapper{
    background-color: var(--primary-color);
    padding: 0.8rem;
 
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-left .img-wrapper2{
    background-color: #ffffff;
    padding: 0.8rem;
  
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-left img{
    width: 2rem;
    height: 2rem; 

}
.modal-form{
    width: 40%;
    
    padding: 4rem 0rem;
   
}
.modal-form-label{
    font-size: 1.2rem;
    color:#0E111B;
    font-family: var(--font);
    font-weight: 600;
}
.modal-input{
    width: 100%;
    padding: 0.5rem 1rem;
    margin-top: 0.6rem;
   
}
.modal-form img{
    position: absolute;
    top: 10px;
    right: 20px;
    width: 2rem;
    height: 2rem;
    cursor: pointer;

}
.modal-form button{
    margin-top: 1.5rem;
    width: 100%;
    color: white;
    background-color: var(--primary-color);
    font-size: 14px;
    letter-spacing: 2px;
    padding: 18px 28px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform 0.3s ease; 
}
.modal-form button:hover{
    transform: scale(0.95);
}









.benefits-section{
    overflow-x:hidden ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:60px;
    padding: 4rem 4rem;
    width: 80%;
    margin: 0px auto;

}
.benefit-left{
    width: 40%;
}
.benefit-left h2{
    color: var(--primary-color);
    font-family: var(--font);
    font-size: 16px;
    font-weight:600 ;
    text-transform:uppercase ;
    text-decoration:none ;
    line-height:1.2em ;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;

}
.benefit-left h1{
   
    color:#0E111B;
    font-family: var(--font);
    font-size: 48px;
    font-weight:700 ;
    text-transform:none ;
    text-decoration:none ;
    line-height:1.2em ;
}
.benefit-left .benefit-head-desc{
    color: #424649;
    font-size: 1.1rem;
    font-family: var(--body-font);
    margin-top: 1rem;
}
.benefit-element{
    margin-top: 2rem;
    display: flex;
    gap: 20px;
    align-items:start;
}
.benefit-element-img-wrapper{
    width: 4.5rem;
    height:4.5rem;  
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 100%;

}
.benefit-element-img-wrapper2{
    width: 4.5rem;
    height:4.5rem;  
    background-color: #0E111B;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 100%;

}
.benefit-element-img-wrapper img{
  width: 2.5rem;
  height:2.5rem;  
}
.benefit-element-img-wrapper2 img{
    width: 2.5rem;
    height:2.5rem;  
  }
.benefit-element h3{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2em;
    font-family: var(--font);
}
.benefit-element-desc p{
    color: #424649;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6em;
    margin-top: 0.2rem;
    font-family: var(--body-font);
  
}
.benefit-right{
    position: relative;
    width: 43%;
    height: 800px;
    background-image: url('../images/home-page/benefits/car-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.benefit-right .description{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    right: 10px;
    top: 10px;
    padding: 1.5rem 1.5rem;
    background-color: white;
}
.benefit-right img{
    width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
}
.benefit-right .description p{
    
    font-size: 1.2rem;
    font-weight: 700;
    font-family: var(--font);

}
.video-description{
    position: absolute;
    left: -15px;
    bottom: -15px; 
    width: 270px;
    height: 270px;
    padding-top:1rem;
    padding-right: 1rem;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
}
.video-description-img{
    width: 260px;
    height: 260px; 
    position: relative;
}
.video-description-img .car-img{
    width: 100%;
    height: 100%; 
    position: relative;
}
.video-description .play-button{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}
.video-description .play-button img{
   width: 5rem;
   height: 5rem;
   cursor: pointer;
}

.video-description .play-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5rem;
    height: 5rem;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.4), transparent);
    border-radius: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.video-description .play-button::before {
    animation: pulse-light 1.5s infinite;
    opacity: 1;
}

@keyframes pulse-light {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.5;
    }
    70% {
        transform: translate(-50%, -50%) scale(2.5);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(2.5);
        opacity: 0;
    }
}
.before-after-sub-heading{
    margin-top: 4rem;
    color: var(--primary-color) !important;
    text-align: center;
}
.before-after-heading{
    color: #0E111B !important;
    text-align: center;
    width: 100% !important;
    font-family: var(--font) !important;
}
.cta-btn{  
    color: white;
    margin-top: 2rem;
    margin-bottom: 4rem;
        background-color: var(--primary-color);
        font-size: 16px;
        letter-spacing: 2px;
        padding: 18px 28px;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        transition: transform 0.3s ease; 
    
}
.cta-btn:hover{
    transform: scale(0.95);
}
.benefit-left-points{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    margin-top: 1.5rem;

}

.benefit-left-points img{
    width: 1.5rem;
    height:1.5rem;
}
.benefit-left-points .benefit-left-points-wrapper{
    width:45%;
    font-size: 1rem;
    font-family: var(--body-font);
    display: flex;
    align-items: center;
    gap:10px;
    font-weight: 400;
}
.benefits-cta-section{
    border-top: #BAC4C9;
    border-top-width: 2px;
    border-top-style: solid;
    width: 100%;
    padding: 2rem 0rem;
    margin-top: 2rem;
    display: flex;
    align-items:center;
    gap:1rem
}
.benefits-cta-section button{
    color: white;
    background-color: var(--primary-color);
    font-size: 14px;
    letter-spacing: 2px;
    padding: 18px 28px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform 0.3s ease; 
}
.benefits-cta-section button:hover{
    transform: scale(0.95);
}
.benefits-cta-section .call-icon{
    display: flex;
    justify-content: center;
    align-items: center;
background-color: black;
color: white;
width: 3.5rem;
height: 3.5rem;
border-radius: 100%;
}
.benefits-cta-section .benefits-mobile-number{
font-size: 1rem;
margin-top: 0.5rem;
}

.quality-ser{
    width: 40%;
    position: absolute !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    left: 10px !important;
    top: 10px !important;
    padding: 1.5rem 1.5rem !important;
    background-color: white !important;
}
.second-img{
    background-image: url('../images/home-page/benefits/car-bg02.jpg');
   
}
.video-description2{
    position: absolute;
    right: -15px ;
    bottom: 25px; 
    width: 200px;
    height: 200px;
    padding-top:1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
}
.video-description2 .video-description-img{
    width: 160px;
    height: 170px; 
    position: relative;
}
.video-description2 .video-description-img .car-img{
    width: 100%;
    height: 100%; 
    position: relative;
}
.benefits-section{
    overflow-x:hidden ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:60px;
    padding: 4rem 4rem;
    width: 80%;
    margin: 0px auto;

}  
}








.testimonial-slider {
    margin: 4rem auto;
    width: 100%;
    max-width: 2000px;
    overflow: hidden;
    position: relative;
}

.testimonial-track {
    display: flex;
    transition: transform 0.5s ease;
}

.testimonial-card {
    flex: 0 0 60%; 
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
}

.testimonial-text {
    font-size: 0.85rem;
    margin-bottom: 1rem;
}

.stars {
    margin-bottom: 1rem;
}

.author-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.testimonial-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
}

.author-container {
    text-align: left;
}

.quote {
    font-size: 1.5rem;
}

/* Medium screens (tablets) */
@media (min-width: 768px) {
    .testimonial-card {
        flex: 0 0 50%; /* On tablets, each card takes 50% width */
    }

    .testimonial-text {
        font-size: 0.9rem;
    }

    .testimonial-img {
        width: 50px;
        height: 50px;
    }

    .quote {
        font-size: 2rem;
    }
}

/* Large screens (desktops) */
@media (min-width: 1024px) {
    .testimonial-card {
        flex: 0 0 33%; /* On desktops, each card takes 33% width */
    }

    .testimonial-text {
        font-size: 1rem;
    }
}
